@CHARSET "UTF-8";
body{
	margin: 0;
	overflow-x:hidden;
	color:#333;
	background-color: #eeeff3;
	background-size: 100%;
}


video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index:-9999;
}

#placeholder{
	width: 100%;
	height: 60px;
	position:relative;
}


.col-md-1{
	font-size: 20px;
	border:1px solid #CD9174;
	/*color: #CDA869;*/
}

#box{
	width: 380px;
	margin: 30px auto;
	font-family: 'Microsoft YaHei';
	font-size: 14px;

}
#input-ss{
	width: 78%;
	border: 1px solid #CD9174 ;
	background-color: rgba(0,0,0,0);
	display: inline-block;
}
#sell-bt{
	margin-bottom:30px;
}
#search{
	width: 20%;
	height: 35px;
	border:1px solid #CD9174 ;
	background-color: rgba(177,150,95,0);
	text-align: center;
	line-height: 10px;
	cursor: pointer;
	display: inline-block;
	color: #333;
}

#search-span{

	display: inline-block;
	font-size: 20px;

}



.pager input[type='text'] {
	width: 20px;
	padding: 4px 5px;
	border: 1px solid #CD9174;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-wekit-border-radius: 2px;
	box-shadow: 0 0 0 2px rgba(255,255, 255, 0.2);
	-o-box-shadow: 0 0 0 2px rgba(255,255, 255, 0.2);
	-webkit-box-shadow: 0 0 0 2px rgba(255,255, 255, 0.2);
	-moz-box-shadow: 0 0 0 2px rgba(255,255, 255, 0.2);
	/*color: #CDA869;*/
	background-color: rgba(177,150,95,0);
	margin : 5px ;
}
.pager input[type='text']:focus, .table input[type='text']:hover {
	border: 1px solid #CD9174;
	outline: none;
}

.pager a{
	color:  #333;;
}

.button{
	border:1px solid #CD9174;
	padding:4px;
}

.button no-page{
	padding:4px;
	border:1px solid #CD9174;
}
#cart-del{
	margin:  0 ;
	font-size: 10px;
	background-color: rgba(177,150,95,0);
}


#input-product{
	width: 100%;
	line-height: 0;
	background-color: rgba(177,150,95,0);
	border:0px solid ;
}

.col-md-2 {
	font-size: 20px;
	border: 1px solid #CD9174;
	color:#333;

}
.col-md-1 {
	position: relative;
	min-height: 1px;
	padding-right: 6px;
	padding-left: 6px;
}
#token{
	border: 0px solid #CD9174;
	outline: none;
	display: none;
	background-color: rgba(177,150,95,0);
}
/*个人信息边框*/
.ui-dialog, .ui-jqdialog {
	z-index: 1050 !important;
	background-color: #FFF;
	padding: 0;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/*标题*/
.ui-dialog .ui-dialog-titlebar, .ui-jqdialog .ui-dialog-titlebar, .ui-dialog .ui-jqdialog-titlebar, .ui-jqdialog .ui-jqdialog-titlebar {
	background-color: #F1F1F1;
	font-size: 16px;
	color: #669fc7;
	padding: 5px;
	margin: 2px;
}
/*内边框*/
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}

/*底部按钮*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
#client-list{
	padding: 10px;
	margin: 20px;
	background-color: #FAFBFF;

}
.xs-mx-m1{
	background-color: #F0F1FF;
}
#xs-mx-ml{
	background-color: #E1E2F0;
}