<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zhuoxuan.jinnuo.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="xyz.zhuoxuan.jinnuo.entity.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="main_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="place" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id,category_id,name,subtitle,main_image,detail,price,stock,status,place ,create_time, update_time
  </sql>

  <insert id="insert" parameterType="xyz.zhuoxuan.jinnuo.entity.Product" >
    insert into zx_product (
    id,category_id,name,
    subtitle,main_image,detail,
    price,stock,status,
    place,create_time,update_time)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{subtitle,jdbcType=VARCHAR}, #{mainImage,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
      #{price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER},#{status,jdbcType=INTEGER},
      #{place,jdbcType=INTEGER},now(),now())
  </insert>

  <select id="findByName" resultType="xyz.zhuoxuan.jinnuo.entity.Product" parameterType="string" >
    select
   id,category_id AS categoryId,name,subtitle,
   main_image AS mainImage,detail,price,stock,status,place ,
   create_time AS createTime, update_time AS updateTime
    from zx_product
    where name = #{name}
  </select>

  <select id="findById" resultType="xyz.zhuoxuan.jinnuo.entity.Product" parameterType="Integer" >
    select
     id,category_id AS categoryId ,name,subtitle,
     main_image AS mainImage,detail,price,stock,status,place ,
   create_time AS createTime, update_time AS updateTime
    from zx_product
    where id = #{id}
  </select>

  <update id="updateById" parameterType="xyz.zhuoxuan.jinnuo.entity.Product" >
    update zx_user
    set
      category_id = #{categoryId ,jdbcType = INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      place = #{place,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateStock">
    UPDATE
      zx_product
    SET
      stock = #{stock},
      update_time = now()
    WHERE
      id = #{id}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List" />
    from zx_product
  </select>

  <select id="selectByNameAndCategoryIds" resultType="xyz.zhuoxuan.jinnuo.vo.ProductVo" parameterType="map">
    SELECT
    p.id AS id,p.category_id AS categoryId,p.name ,p.subtitle,p.main_image AS mainImage,p.detail,
    p.price,p.stock,p.status,p.place,c.name AS categoryName,p.create_time AS createTime,
    p.update_time AS updateTime
    from zx_product p,zx_category c
    where p.category_id = c.id
     and p.status = 1
    <if test="productName != null">
      and p.name like #{productName}
    </if>
    <if test="place != null">
      and p.place = #{place}
    </if>
  </select>

  <select id="selectByProductId" resultType="xyz.zhuoxuan.jinnuo.vo.ProductVo" parameterType="Integer">
    SELECT
    p.id AS id,p.category_id AS categoryId,p.name ,p.subtitle,p.main_image AS mainImage,p.detail,
    p.price,p.stock,p.status,p.place,c.name AS categoryName,p.create_time AS createTime,
    p.update_time AS updateTime
    from zx_product p,zx_category c
    where p.category_id = c.id
    and p.id = #{id}
  </select>


  <update id="updateByPrimaryKey" parameterType="xyz.zhuoxuan.jinnuo.entity.Product" >
    update zx_product
    set
    <if test="categoryId != null" >
      category_id = #{categoryId,jdbcType=INTEGER},
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="subtitle != null" >
      subtitle = #{subtitle,jdbcType=VARCHAR},
    </if>
    <if test="mainImage != null" >
      main_image = #{mainImage,jdbcType=VARCHAR},
    </if>
    <if test="detail != null" >
      detail = #{detail,jdbcType=VARCHAR},
    </if>
    <if test="price != null" >
      price = #{price,jdbcType=DECIMAL},
    </if>
    <if test="stock != null" >
      stock = #{stock,jdbcType=INTEGER},
    </if>
    <if test="status != null" >
      status = #{status,jdbcType=INTEGER},
    </if>
    <if test="place != null" >
      place = #{place,jdbcType=INTEGER},
    </if>
    <if test="createTime != null" >
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="delete" parameterType="Integer">
    update zx_product
    set
      status = 3
    where
      id = #{id}
  </update>


</mapper>