@CHARSET "UTF-8";
body{
	margin: 0;
	overflow-x:hidden
}

video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index:-9999;
}


@keyframes chan{
	0% {color:#b1965f;} 25%{color:#ccad6e ;} 50%{color:#CDA869;} 75%{color: #b1965f;}
	100%{color: #ccad6e;}
}
a{
	color:#f90;
	animation : chan 5s linear 0s infinite;
}
#status-record{
	color:#f90;
	animation : chan 5s linear 0s infinite;
}

#backdrop{
	width: auto;
	background-repeat: no-repeat;
	overflow: hidden;/* 解决粘连问题  */
}

.loginDiv{
	margin: 150px 0 0 0 ;
	position: relative;
	width: auto;
}
#username{
	border:1px solid #999999;
	background-color: rgba(0,0,0,0.05)
}
#password{
	border:1px solid #999999;
	background-color: rgba(0,0,0,0.05)
}
#imageCode{
	width: 150px;
	height:30px;
	padding-left:13px;
	border:1px solid #999999;
	/*border:0px solid #CDA869;*/
	background-color: rgba(0,0,0,0.05);
	position:relative;
}
#code-img{
	position:absolute;
	top: 28%;
	right: 0%;
}

.font-color{
	color: #CDA869;
}

#btn-login{
	border:1px solid #CDA869 ;
	background-color: rgba(177,150,95,0)
}
#login_logo{
	background-image: url("../web/img/1555552102.png");
	background-size: 100%;
	width: 500px;
	height: 200px;
	left:30%;
	position: relative;
}

.panel-fieldset{
	position: relative;
	width: 350px;
	height: 350px;
	left: 35%;
}

#icp-display-login{
	position: relative;
	left: 44%;
}

#list-unstyled-login-01{
	position: relative;
	bottom:140px;
	left: 37%;
}

#list-unstyled-login-02{
	position: relative;
	bottom:170px;
	left: 59%;
}
